
BetterCrafting/savedata
/SaveBackup
AbilitiesExperienceBars/config.json
AutomaticGates/config.json
Stardew Valley Expanded/\[FTM\] Stardew Valley Expanded/data
/East Scarp (1.6)/\[FTM\] East Scarp/data
/Immersive Farm 2 Remastered/\[FTM\] Immersive Farm 2 Remastered/data
/Ridgeside Village/\[FTM\] Ridgeside Village/data
/Stardew Valley Expanded/\[FTM\] Stardew Valley Expanded/data
